@media screen and (max-width: 1450px) {
  .section {
    max-width: 1200px; }
  .work-box__title {
    font-size: 22px; }
  .work-box__img_wrap {
    width: 170px;
    height: 170px; }
  .work-box:before {
    top: -110%;
    left: 5%; }
  .work-box:hover:before {
    top: -85%; } }

@media screen and (max-width: 1280px) {
  .section {
    max-width: 980px; }
  .work-box {
    width: 40%; }
    .work-box__img_wrap {
      width: 180px;
      height: 180px; }
    .work-box:hover:before {
      top: -80%; } }

@media screen and (max-width: 1024px) {
  .section {
    max-width: 700px; }
  .block {
    max-width: 500px; }
  .header__title {
    font-size: 18px;
    max-width: 250px;
    margin-right: 0; }
  .brand-logo__name {
    font-size: 40px;
    line-height: 30px;
    font-weight: 300;
    -webkit-transform: scaleY(0.9);
        -ms-transform: scaleY(0.9);
            transform: scaleY(0.9); }
  .brand-logo__subtitle {
    font-size: 19px;
    letter-spacing: 0.28em;
    font-weight: 100;
    color: #a5a5a5;
    margin-left: 2px;
    -webkit-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
            transform: scaleY(0.7); }
  .nav__link_main, .nav__link_hover {
    font-size: 16px; }
  .work-box {
    width: 40%; }
    .work-box__title {
      font-size: 18px; }
    .work-box__img_wrap {
      width: 160px;
      height: 160px; }
    .work-box:before {
      top: -120%;
      width: 320px; }
    .work-box:hover:before {
      top: -100%; }
  .block {
    padding: 30px; }
    .block__close {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; }
  .description__link {
    font-size: 12px; }
  .description-block__title {
    font-size: 24px; }
  .description-block__text {
    width: 100%;
    color: #a5a5a5;
    font-size: 15px; }
  .technologies {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    padding: 0; }
    .technologies__item {
      font-size: 15px;
      border: 1px solid #ffac62;
      margin: 15px 15px 0 0;
      padding: 10px 15px; }
  .about-me__first-title {
    font-size: 24px; }
  .skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .skills-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 100%; }
      .skills-box__img {
        width: 80px;
        opacity: 0.9;
        margin-right: 20px; }
      .skills-box__title {
        font-size: 20px; }
      .skills-box__description {
        font-size: 15px; }
  .contacts__title {
    font-size: 24px; }
  .contact-me {
    font-size: 15px; }
    .contact-me__link {
      line-height: 22px; }
  .contact-me__title,
  .social-media__title {
    font-size: 19px; }
  .social-media__link {
    margin: 10px;
    color: #fff; }
    .social-media__link:nth-child(2) {
      margin-left: 0; }
  .social-media__img {
    width: 40px; } }

@media screen and (max-width: 1024px) and (-ms-high-contrast: active), screen and (max-width: 1024px) and (-ms-high-contrast: none) {
  .brand-logo__subtitle {
    font-size: 19px;
    letter-spacing: 0.31em; } }

@media screen and (max-width: 768px) {
  .section {
    max-width: 95%; }
  .block {
    max-width: 95%; }
  .header__title {
    font-size: 18px;
    max-width: 250px;
    margin-right: 0; }
  .brand-logo__name {
    font-size: 40px;
    line-height: 30px;
    font-weight: 300;
    -webkit-transform: scaleY(0.9);
        -ms-transform: scaleY(0.9);
            transform: scaleY(0.9); }
  .brand-logo__subtitle {
    font-size: 19px;
    letter-spacing: 0.28em;
    font-weight: 100;
    color: #a5a5a5;
    margin-left: 2px;
    -webkit-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
            transform: scaleY(0.7); }
  .nav__list {
    border: 1px solid #e5e7e9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__link {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .nav__link_main, .nav__link_hover {
      font-size: 15px; }
    .nav__link_hover {
      display: none; }
    .nav__link:before {
      display: none; }
    .nav__link:hover .nav__link_main {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      visibility: visible; }
    .nav__link:hover {
      background: #fff; }
      .nav__link:hover .nav__link_main {
        color: #000; }
    .nav__link_active {
      background: #fff; }
      .nav__link_active:before {
        display: none; }
      .nav__link_active .nav__link_hover {
        display: none; }
      .nav__link_active .nav__link_main {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
        visibility: visible;
        color: #000; }
  .work-block {
    max-width: 95%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .work-box {
    width: 45%;
    margin: 10px 0;
    min-width: 320px; }
    .work-box__title {
      width: 50%;
      font-size: 16px; }
    .work-box__img_wrap {
      width: 140px;
      height: 140px; }
    .work-box:before {
      top: -140%;
      width: 320px; }
    .work-box:hover:before {
      top: -100%; }
  .block {
    padding: 30px; }
    .block__close {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; }
  .description {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .description__link {
      font-size: 12px;
      margin-top: 10%; }
    .description-block__title {
      font-size: 20px; }
    .description-block__text {
      width: 100%;
      color: #a5a5a5;
      font-size: 14px; }
  .technologies {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    padding: 0; }
    .technologies__item {
      font-size: 14px;
      border: 1px solid #ffac62;
      margin: 15px 15px 0 0;
      padding: 10px 15px; }
  .about-me__first-title {
    font-size: 20px; }
  .skills-box {
    max-width: 400px; }
    .skills-box__title {
      font-size: 18px; }
    .skills-box__description {
      font-size: 14px; }
  .contacts__title {
    font-size: 20px; }
  .contact-me {
    font-size: 14px; }
    .contact-me__link {
      line-height: 20px; }
  .contact-me__title,
  .social-media__title {
    font-size: 17px; }
  .social-media__link {
    margin: 0 10px 0 0; } }

@media screen and (max-width: 768px) and (-ms-high-contrast: active), screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .brand-logo__subtitle {
    font-size: 19px;
    letter-spacing: 0.31em; } }

@media screen and (max-width: 700px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .brand-logo {
    margin-bottom: 20px; }
  .work-block {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .work-box {
    width: 45%;
    margin: 10px 0;
    min-width: 280px; }
    .work-box:hover {
      background: rgba(155, 155, 155, 0.4); }
      .work-box:hover:before {
        top: -140%; }
  .block__close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px; }
  .description__link {
    font-size: 12px; }
  .description-block__title {
    font-size: 20px; }
  .description-block__text {
    width: 100%;
    color: #a5a5a5;
    font-size: 14px; }
  .technologies {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    padding: 0; }
    .technologies__item {
      font-size: 14px;
      border: 1px solid #ffac62;
      margin: 15px 15px 0 0;
      padding: 10px 15px; }
  .about-me__first-title {
    font-size: 20px; }
  .skills-box {
    max-width: 400px; }
    .skills-box__title {
      font-size: 18px; }
    .skills-box__description {
      font-size: 14px; }
  .contacts__title {
    font-size: 20px; }
  .contact-me {
    font-size: 14px; }
    .contact-me__link {
      line-height: 20px; }
  .contact-me__title,
  .social-media__title {
    font-size: 17px; }
  .social-media__link {
    margin: 0 10px 0 0; } }

@media screen and (max-width: 610px) {
  .work-box {
    width: 100%;
    margin: 10px 0;
    min-width: 285px; }
    .work-box__title {
      font-size: 18px; }
    .work-box__img_wrap {
      width: 180px;
      height: 180px; }
    .work-box:before {
      top: -120%;
      width: 320px; }
    .work-box:hover:before {
      top: -120%; }
  .technologies__item {
    margin: 10px 10px 0 0;
    padding: 5px 10px; } }

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 16px; }
  .brand-logo__name {
    font-size: 34px;
    line-height: 30px; }
  .brand-logo__subtitle {
    font-size: 16px;
    letter-spacing: 0.285em;
    font-weight: 100;
    color: #a5a5a5;
    margin-left: 2px;
    -webkit-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
            transform: scaleY(0.7); }
  .work-box__title {
    font-size: 16px; }
  .work-box__img_wrap {
    width: 140px;
    height: 140px; }
  .work-box:before {
    left: 15%; }
  .block {
    padding: 20px; }
  .description-block__title {
    font-size: 18px; }
  .description-block__text {
    font-size: 13px; }
  .technologies__item {
    font-size: 13px; }
  .about-me__first-title {
    font-size: 18px; }
  .skills-box {
    max-width: 400px; }
    .skills-box__img {
      width: 50px; }
    .skills-box__title {
      font-size: 16px; }
    .skills-box__description {
      font-size: 13px; }
  .contacts__title {
    font-size: 18px; }
  .contact-me {
    font-size: 13px; }
  .contact-me__title,
  .social-media__title {
    font-size: 16px; }
  .social-media__img {
    width: 35px; } }

@media screen and (max-width: 480px) and (-ms-high-contrast: active), screen and (max-width: 480px) and (-ms-high-contrast: none) {
  .brand-logo__subtitle {
    font-size: 16px;
    letter-spacing: 0.32em; } }
